################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/CommandLine/bin/Debug
/CommandLine/obj/Debug
/Inference/bin/Debug
/Inference/obj/Debug
/Tests/obj/Debug
*.suo
/Tests/bin/Debug/antlr.astframe.dll
/Tests/bin/Debug/antlr.runtime.dll
/Tests/bin/Debug/fusion.dll
/Tests/bin/Debug/ilasm.exe
/Tests/bin/Debug/Inference.dll
/Tests/bin/Debug/Inference.pdb
/Tests/bin/Debug/Tests.exe
/Tests/bin/Debug/Tests.exe.config
/Tests/bin/Debug/Tests.pdb
/Tests/bin/Debug/Tests.vshost.exe.manifest
/Tests/bin/Debug/Tests.vshost.exe
/Tests/bin/Debug/Tests.vshost.exe.config
/Tests/bin/Debug
/Wrong Test Cases/fusion.dll
/Wrong Test Cases/ilasm.exe
/Wrong Test Cases/Inference.dll
/Wrong Test Cases/StaDyn.exe
/Wrong Test Cases/antlr.runtime.dll
/Tests/bin/Release
/UnitTest/obj
/UnitTest/bin
/Tests/obj/Release
*.user
/CommandLine/obj/Release
/Inference/bin/Release
/Inference/obj/Release
/Wrong Test Cases/error.log
/Wrong Test Cases/Case X/CG.exe
/Wrong Test Cases/Case X/CG.il
/Wrong Test Cases/Case X/CG.log
/Wrong Test Cases/Case X/CG.out.txt
/Wrong Test Cases/Case X/TypeTable.txt
/CommandLine/bin/Release
/Wrong Test Cases/CG.exe
/Wrong Test Cases/CG.il
/Wrong Test Cases/ildasm.exe
/Wrong Test Cases/Case X/dasm.bat
